---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="E-commerce product page" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		/* Primary Colors */
		--orange: hsl(26, 100%, 55%);
		--pale-orange: hsl(25, 100%, 94%);
		
		/* Neutral Colors */
		--very-dark-blue: hsl(220, 13%, 13%);
		--dark-grayish-blue: hsl(219, 9%, 45%);
		--grayish-blue: hsl(220, 14%, 75%);
		--light-grayish-blue: hsl(223, 64%, 98%);
		--white: hsl(0, 0%, 100%);
		--black: hsl(0, 0%, 0%);
		--black-opacity-75: hsla(0, 0%, 0%, 0.75);
	}
	html {
		font-family: "Kumbh Sans", sans-serif;
		font-weight: 400;
		font-size: 16px;
		background: var(--white);
	}
	*, *::before, *::after {
		box-sizing: border-box;
	}
	* {
		margin: 0;
	}
	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
	}
	img, picture, video, canvas, svg {
		display: block;
		max-width: 100%;
	}
	input, button, textarea, select {
		font: inherit;
	}
	p, h1, h2, h3, h4, h5, h6 {
		overflow-wrap: break-word;
	}
	#root, #__next {
		isolation: isolate;
	}
</style>
