@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: var(--Cream);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    font-size: 14px;
    color: var(--Dark-grayish-blue);
}

h1 {
    margin: 0;
    font-family: "Fraunces", serif;
    color: var(--Very-dark-blue);
    font-size: 2rem;
    line-height: 1;
}

img {
    max-width: 100%;
    display: block;
}

.card {
    margin: 1rem;
    background-color: var(--White);
    border-radius: 1rem;
    display: grid;
    max-width: 600px;

    .image {
        border-radius: 1rem 1rem 0 0;

        .mobile-img {
            border-radius: 1rem 1rem 0 0;
        }

        .desktop-img {
            border-radius: 1rem 0 0 1rem;
        }
    }

    .info {
        display: grid;
        padding: 1.5rem;
        gap: 1rem;

        .type {
            text-transform: uppercase;
            letter-spacing: 0.2rem;
        }

        .description {
            line-height: 1.5;
        }

        .prices {
            display: flex;
            gap: 1rem;
            align-items: center;

            .price {
                font-family: "Fraunces", serif;
                font-size: 2rem;
                font-weight: 700;
                color: var(--Dark-cyan);
            }

            .prev-price {
                text-decoration: line-through;
            }
        }

        & button {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
            background-color: var(--Dark-cyan);
            border: none;
            border-radius: 0.5rem;
            padding: 1rem;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: #1a4031;
            }

            .btn-text {
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                color: var(--White);
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .desktop-img {
        display: none;
    }
}
@media screen and (min-width: 601px) {
    .mobile-img {
        display: none;
    }

    .card {
        grid-template-columns: 1fr 1fr;

        .info {
            padding: 2rem;

            & button {
                padding: 0.5rem;
            }
        }
    }
}
