<div class="absolute top-8 right-4 w-72 text-white">
  <img class="shadow-lg" src="../assets/images/bg-card-back.png" alt="Back of credit card">
  <div class="absolute top-[4.4rem] left-[14.5rem] text-[0.6rem]">000</div>
</div>

<div class="absolute top-[7.563rem] left-4 w-72 text-white">
  <img class="shadow-lg" src="../assets/images/bg-card-front.png" alt="Front of credit card">
  <img class="absolute w-14 top-4 left-5" src="../assets/images/card-logo.svg" alt="card-logo">
  <div class="absolute top-20 left-5 tracking-[0.125em] text-lg text-shadow">0000 0000 0000 0000</div>
  <div class="absolute top-32 left-5 uppercase text-[0.6rem] text-shadow">Jane Appleseed</div>
  <div class="absolute top-32 left-[14.6rem] text-[0.6rem] text-shadow">00/00</div>
</div>

<img src="../assets/images/bg-main-mobile.png" alt="Gradient colors background" srcset="">

<div>
  <form class="mt-10 px-5 py-9 grid gap-3">
    <div>
      <label class="text-xs uppercase">Cardholder Name</label>
      <input class="input" type="text" aria-label="Cardholder Name" name="name" autocomplete="name"
        placeholder="e.g. Jane Appleseed">
    </div>
    <div>
      <label class="text-xs uppercase">Card Number</label>
      <input class="input" type="number" aria-label="Card Number" name="cardnumber" autocomplete="cc-number"
        placeholder="e.g. 1234 5678 9123 0000">
    </div>
    <div class="grid grid-cols-2 gap-3">
      <div>
        <label class="text-xs uppercase">Exp. Date (MM/YY)</label>
        <div class="grid grid-cols-2 gap-2">
          <input class="input" type="number" aria-label="Exp. Month" name="ccmonth" autocomplete="cc-exp-month"
            placeholder="MM">
          <input class="input" type="number" aria-label="Exp. Year" name="ccyear" autocomplete="cc-exp-year"
            placeholder="YY">
        </div>
      </div>
      <div>
        <label class="text-xs uppercase">CVC</label>
        <input class="input" type="number" name="cvc" autocomplete="cc-csc" placeholder="e.g. 123">
      </div>
    </div>
    <button class="bg-Primary text-white rounded-lg py-3 mt-4">Confirm</button>
  </form>
</div>


<!-- Completed state start -->

Thank you!
We've added your card details
Continue